[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.time-numbers > *, .time-entry > * {
    display: inline-block;
}

.time-entry {
    margin-bottom: 25px;
}

.timepicker {
    margin-right: 15px;
    float: left;
}
.time-entries ul {
    list-style: none;
    padding: 0;
}
.time-entries ul li {
    padding-bottom: 15px;
    margin: 5px 0;
    border-bottom: 1px solid rgba(225,225,225,0.4);

}
.chart-header {
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    line-height: 25px;
}
